POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=6500
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydbname

URL=http://localhost
DOMAIN=localhost

# OR:

# URL=https://heymano.com
# DOMAIN=heymano.com

SMTP_EMAIL=mysmtpemail@gmail.com
SMTP_PASSWORD=mysmtppassword

# If running with google sql proxy and google sql deployed postgres db:
# DATABASE_URL=postgresql://myuser:mypassword@127.0.0.1:5432/mydbname?schema=public

# If running with local docker container postgres:
DATABASE_URL=postgresql://myuser:mypassword@localhost:6500/mydbname?schema=public
